.main {
  width: 900px;
}

.list {
  list-style: none;
}

.btnSelections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & button {
    width: 245px;
    height: 38px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin: 25px 0;
    cursor: pointer;
  }
}

.addEvent {
  background-color: #3f4d63;
  color: #fff;
  &:hover {
    background-color: darken(#3f4d63, 10%);
  }
}

.sort {
  padding: 10px 40px;
  background-color: #cfdaec;
  color: #094d74;
  font-size: 18px;
  border-radius: 30px;
  & > select {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #094d74;
  }
  & option {
    width: 50px;
  }
}

.aside {
  right: 0;
  width: 300px;
  min-height: 500px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: #eef0f6;
  border-radius: 10px;
  align-self: flex-start;
}

.subTitle {
  font-size: 24px;
  margin: 10px;
}

.CatList {
  padding: 25px;
  padding-top: 0;
  & li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #85a1c1;
  }
}