.main {
  width: 900px;
}

.list {
  list-style: none;
}

.btnSelections {
  display: flex;
  justify-content: space-between;
  & button {
    width: 285px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    margin: 25px 0;
    cursor: pointer;
  }
}

.addEvent {
  background-color: #3f4d63;
  color: #fff;
  &:hover {
    background-color: darken(#3f4d63, 10%);
  }
}

.sort {
  background-color: #cfdaec;
  color: #094d74;
  &:hover {
    background-color: darken(#cfdaec, 10%);
  }
}