.eventList {
  width: 1200px;
  margin: 40px auto;
}

.event {
  position: relative;
  box-shadow: 0px 0px 11px 1px rgba(204,204,204,1);
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin: 30px 0;
}

.date,
.comment {
  color: #ccc;
}

.date {
  position: absolute;
  top: 20px;
  right: 20px;
}