.create {
  width: 100%;
  padding: 0 100px;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label {
  font-size: 22px;
}

input,
textarea {
  margin: 5px 0 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}



input {
  height: 28px;
}

input[type="date"] {
  width: 110px;
}

textarea {
  min-height: 100px;
  resize: none;
}

.btnCreate {
  width: 245px;
  height: 38px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  margin: 25px auto;
  cursor: pointer;
  background-color: #85a1c1;
  color: #fff;
  &:hover {
    background-color: darken($color: #85a1c1, $amount: 10%);
  }
}

.toBack {
  position: relative;
  border: none;
  background-color: transparent;
  color: #ffffff;
  margin: 20px 0;
  padding-left: 35px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 3px;
    transform: rotate(-135deg);
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
  &:hover,
  &:hover::before,
  &:hover::after {
    color: #3d3d3d;
    border-color: #3d3d3d;
  }
}