.item {
  position: relative;
  width: 100%;
  min-height: 242px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #eef0f6;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

.item:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin: 30px 0;
}

.data {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #ccc;
}

.comments {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #ccc;
}

.remove {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  color: #FF2F2F;
  background-color: transparent;
  &:hover {
    opacity: .6;
    cursor: pointer;
  }
}