.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 242px;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #eef0f6;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}

.item:hover {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-right: 60px;
}

.description {
  margin: 20px 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #ccc;
}

.remove {
  position: absolute;
  top: 30px;
  right: 15px;
  border: none;
  color: #FF2F2F;
  background-color: transparent;
  &:hover {
    opacity: .6;
    cursor: pointer;
  }
}