.nav {
  position: fixed;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.28);
  background-color: #3f4d63;
  z-index: 9999;
}

.wrap {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: auto;
}

.item {
  padding: 18px 20px;
  color: #fff;
}

.item:hover {
  background-color: #85a1c1;
}